@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sveiki atvyke į „Informacinė sistema <b>Maistas</b>“</h1>
    <h2>Su jumis sveikinasi kapibara!</h2>
    <video src="capybara-orange.mp4" autoplay loop></video>
    
    
</div>
