@page

@{
    ViewData["title"] = "Restoranų posistemė";
    Layout = "_Layout";
}

<h1>Restoranų posistemė</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action">Peržiūrėti restoranų sąrašą</a>
    <a class="list-group-item list-group-item-action">Pridėti restoraną</a>
    <a class="list-group-item list-group-item-action">Šalinti restoraną</a>
    <a class="list-group-item list-group-item-action">Redaguoti restoraną</a>
    <a class="list-group-item list-group-item-action">Peržiūrėti patiekalų ataskaitą</a>
</div>

