@model IEnumerable<MaistasUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Sąrašai</h1>
<a asp-action="UserList" class="btn btn-primary">Naudotojų sąrašas</a>
<a asp-action="CourierList" class="btn btn-primary">Kurjerių sąrašas</a>
<p>
    
</p>

