@model IEnumerable<Dish>
@{
    ViewData["title"] = "Patiekalų sąrašas";
    Layout = "_Layout";
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Peržiūrėti restoranų sąrašą</a>
    <a href="@Url.Action("FilteredDishList")" class="btn btn-primary">Peržiūrėti rušiuotą sąrašą</a>
</div>

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewData["title"]</h1>
    </span>
</div>




